# .ebextensions/s3auth.config
# Este arquivo configura a autenticação S3 para a instância EC2 do Elastic Beanstalk.

Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Auth:
          type: "s3"
          # Substitua pelo nome do seu bucket S3 do Elastic Beanstalk
          # O nome do bucket é 'elasticbeanstalk-us-east-2-679625722040'
          buckets: ["elasticbeanstalk-us-east-2-679625722040"]
          roleName:
            "Fn::GetOptionSetting":
              Namespace: "aws:asg:launchconfiguration"
              OptionName: "IamInstanceProfile"
              DefaultValue: "aws-elasticbeanstalk-ec2-role" # O nome da sua Role de perfil de instância do EC2
