name: Build, Test & Deploy to Google Cloud

on:
  push:
    branches:
      - development
      - main
  pull_request:
    branches:
      - development

env:
  PROJECT_ID: crm-api-465004
  SERVICE_NAME: crm-api
  REGION: us-central1
  AR_REPO_NAME: api-repo

jobs:
  build-test-and-deploy:
    runs-on: ubuntu-latest
    
    permissions:
      contents: 'read'
      id-token: 'write'

    steps:
      - name: Checkout código
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'

      - name: Restaurar dependências
        run: dotnet restore

      - name: Build
        run: dotnet build --no-restore --configuration Release

      - name: Testar
        run: dotnet test --no-build --verbosity normal --configuration Release

      - name: Setup gcloud CLI
        uses: google-github-actions/setup-gcloud@v2
        with:
          project_id: ${{ env.PROJECT_ID }}

      - name: Autenticar com Google Cloud
        id: auth
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: 'projects/crm-api-465004/locations/global/workloadIdentityPools/github-pool/providers/github-provider'
          service_account: 'github-actions@crm-api-465004.iam.gserviceaccount.com'

      - name: Configurar Docker para usar Artifact Registry
        run: gcloud auth configure-docker ${{ env.REGION }}-docker.pkg.dev --quiet

      - name: Build e Push da imagem Docker para Artifact Registry
        run: |
          AR_IMAGE_PATH="${{ env.REGION }}-docker.pkg.dev/${{ env.PROJECT_ID }}/${{ env.AR_REPO_NAME }}/${{ env.SERVICE_NAME }}:${{ github.sha }}"
          echo "Building image: ${AR_IMAGE_PATH}"
          docker build -f CRM.API/Dockerfile -t ${AR_IMAGE_PATH} .
          docker push ${AR_IMAGE_PATH}
        shell: bash

      - name: Deploy para Cloud Run
        if: github.ref == 'refs/heads/main'
        uses: google-github-actions/deploy-cloudrun@v1
        with:
          service: ${{ env.SERVICE_NAME }}
          image: ${{ env.REGION }}-docker.pkg.dev/${{ env.PROJECT_ID }}/${{ env.AR_REPO_NAME }}/${{ env.SERVICE_NAME }}:${{ github.sha }}
          region: ${{ env.REGION }}
          env_vars: ConnectionStrings__DefaultConnection="Server=35.188.19.254;Port=3306;Database=crmapi;Uid=api_user;Pwd=${{ secrets.DB_PASSWORD }};SslMode=Required;"
          allow_unauthenticated: true